body {
    font-family: helvetica, arial, sans-serif;
    font-weight: lighter;
    background: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "pacifico";
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    color:#0000009d;
}

h3 {
    font-size: medium;
    padding-bottom: 5px;
}


button {
    border: none;
    border-radius: 10px;
    padding-bottom: 3px;
    background: #7c7c7c4b;
    color: white;
}

button:hover {
    background: #888; 
}

.card {
    background: #000000d0;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding: 20px;
    border-radius: 10px;
}

.current-forecast {
    padding-bottom: 35px;
}

.future-forecast {
    display: none;
    padding-top: 100px;
}
.search input {
    border: none;
    border-radius: 10px;
    height: 27px;
    margin-right: 5px;
    background: #7c7c7c4b;
    padding: 5px;
    color: white;
}

.search-history {
    display: none;
    text-align: center;
    width: 50%;
    border-top: .5px solid #7c7c7c8b;
    border-bottom: .5px solid #7c7c7c8b;
}
.search-list button{
    width: 60%;
    padding: 5px;
    font-weight: lighter;
    font-size: small;
    margin: 3px;
    margin-bottom: 10px;
}

.search-history h3 {
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: .5px solid #7c7c7c8b;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.red {
   color: red;
}